<footer role="contentinfo">
    {% include theme("newsletter.html") %}
    <div class="fr-footer" id="footer">
        {% cache cache_duration, 'footer-top',
        g.lang_code|default(config.DEFAULT_LANGUAGE)|string,'-'.join((package_version('udata'),
        package_version('udata-front'))) %}
        <div class="fr-footer__top">
            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--start fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-sm-3">
                        <h3 class="fr-footer__top-cat">{{ _('Rubriques') }}</h3>
                        <ul class="fr-footer__top-list" style="font-size: large;">
                            <!-- {% for item in nav.gouvfr_opendata %} -->
                            <!-- <li>
                                <a class="fr-footer__top-link" href="{{ item.url }}">{{ item.label }}</a>
                            </li> -->
                            <!-- {% endfor %} -->
                            <li><a class="fr-footer__top-link" href="/">Accueil</a></li>
                            <li><a class="fr-footer__top-link"
                                    href="https://ressources.digital.gouv.tg/logiciels-libres">Logiciels libres</a></li>
                            <li><a class="fr-footer__top-link" href="#">API</a></li>
                            <li><a class="fr-footer__top-link" href="#">Open Data</a></li>
                            <li><a class="fr-footer__top-link"
                                    href="https://ressources.digital.gouv.tg/documents">Documents de gouvernance</a>
                            </li>
                            <li><a class="fr-footer__top-link" href="#">A propos</a></li>

                        </ul>
                    </div>
                    <div class="fr-col-12 fr-col-sm-3">
                        <h3 class="fr-footer__top-cat" >{{ _('Liens Utiles') }}</h3>
                        <ul class="fr-footer__top-list">
                            <!-- {% for item in nav.gouvfr_platform %} -->
                            <!-- <li>
                                <a class="fr-footer__top-link" href="{{ item.url }}">{{ item.label }}</a>
                            </li> -->
                            <!-- {% endfor %} -->
                            <li><a class="fr-footer__top-link" href="#">Contact</a></li>
                            <li><a class="fr-footer__top-link" href="#">FAQ </a></li>
                            <li><a class="fr-footer__top-link" href="#">Actualités</a></li>
                            <li><a class="fr-footer__top-link" href="#">Informations utiles</a></li>
                            <li><a class="fr-footer__top-link" href="#">Conditions d'utilisations</a></li>
                            <li><a class="fr-footer__top-link" href="#">Politique de confidentialité </a></li>

                        </ul>
                    </div>
                    <div class="fr-col-12 fr-col-sm-3">
                        <h3 class="fr-footer__top-cat">{{ _('Institutions') }}</h3>
                        <ul class="fr-footer__top-list">
                            <!-- {% for item in nav.gouvfr_resources %} -->
                            <!-- <li>
                                <a class="fr-footer__top-link" href="{{ item.url }}">{{ item.label }}</a>
                            </li> -->
                            <!-- {% endfor %} -->
                            <li><a class="fr-footer__top-link" href="#">Présidence</a></li>
                            <li><a class="fr-footer__top-link" href="#">Primature </a></li>
                            <li><a class="fr-footer__top-link" href="#">Gouvernement</a></li>
                            <li><a class="fr-footer__top-link" href="#">Assemblée Nationale </a></li>
                            <li><a class="fr-footer__top-link" href="#">Sénat </a></li>
                            <li><a class="fr-footer__top-link" href="#">Cour suprême </a></li>

                        </ul>
                    </div>
                    <div class="fr-col-12 fr-col-sm-3">
                        <h3 class="fr-footer__top-cat">{{ _('Réseaux Sociaux') }}</h3>
                        <!-- <ul class="fr-footer__top-list">
                            <li>
                                <a
                                    href="{{config.API_DOC_EXTERNAL_LINK}}"
                                    class="fr-footer__top-link"
                                >
                                   {{  _("Portal's API") }}
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://github.com/opendatateam/udata/"
                                    class="fr-footer__top-link"
                                >
                                    {{ _('Open-source engine: udata ({version})').format(
                                        version=package_version('udata')
                                    ) }}
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://github.com/datagouv/udata-front/"
                                    title="{{ _('opendata.gouv.tg  extension: udata-front') }}"
                                    class="fr-footer__top-link"
                                >
                                    {{ _('udata theme extension: udata-front ({version})').format(
                                        version=package_version('udata-front')
                                    ) }}
                                </a>
                            </li>
                        </ul> -->
                        <div class="fr-follow__social">
                            <p class="fr-footer__top-link">{{ _("Follow us") }}
                                {{ _("on social media") }}
                            </p>
                            <ul class="fr-links-group" style="display: flex;">
                                <li>
                                    <a class="fr-link" title="{{_('Twitter - new tab')}}"
                                        href="https://x.com/digitalgouvtg" target="_blank">
                                        <span class="fr-icon-twitter-line fr-mr-1w" aria-hidden="true"></span> Twitter
                                    </a>
                                </li>
                                <li>
                                    <a class="fr-link" title="{{_('Linkedin - new tab')}}"
                                        href="https://www.linkedin.com/company/agence-togo-digital/" target="_blank">
                                        <span class="fr-icon-linkedin-box-line fr-mr-1w" aria-hidden="true"></span>
                                        Linkedin
                                    </a>
                                </li>
                                <li>
                                    <a class="fr-link" title="{{_('Mastodon - new tab')}}" href="#" target="_blank">
                                        <span class="fr-icon-mastodon-line fr-mr-1w" aria-hidden="true"></span> Mastodon
                                    </a>
                                </li>
                                <li>
                                    <a class="fr-link" title="{{_('Github - new tab')}}" href="#" target="_blank">
                                        <span class="fr-icon-github-line fr-mr-1w" aria-hidden="true"></span> Github
                                    </a>
                                </li>
                                <li>
                                    <a class="fr-link" title="{{_('RSS - new tab')}}" href="#" target="_blank">
                                        <i class="fa-brands fa-youtube"></i>
                                        <span class="fr-icon-rss-line fr-mr-1w" aria-hidden="true"></span> Facebook
                                    </a>
                                </li>
                               
                            </ul>
                        </div>


                        <!-- <div class="fr-col-auto fr-ml-auto self-end">
                    <nav role="navigation" class="fr-translate fr-nav">
                        <div class="fr-nav__item">
                            <button
                                class="fr-translate__btn fr-btn fr-btn--tertiary"
                                aria-controls="translate-in-footer"
                                aria-expanded="false"
                                title="{{ _('Select a Language') }}"
                            >
                                {{g.lang_code|upper}} - {{current_language_name()}}
                            </button>
                            <div class="fr-collapse fr-translate__menu fr-menu" id="translate-in-footer">
                                <ul class="fr-menu__list">
                                {% for code, name in config['LANGUAGES'].items() %}
                                    <li>
                                        <a
                                            class="fr-translate__language fr-nav__link"
                                            hreflang="{{code}}"
                                            lang="{{code}}"
                                            href="{{language_url(code)}}"
                                            {% if g.lang_code == code %}aria-current="true"{% endif %}
                                        >
                                            {{code|upper}} - {{name}}
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div> 

                    </div>
                </div>
            </div>
        </div> -->
                        {% endcache %}
                        <!-- <div class="fr-container"> -->
                        <!--    <div class="fr-footer__body">-->
                        {% cache cache_duration, 'footer-brand-and-links',
                        g.lang_code|default(config.DEFAULT_LANGUAGE)|string %}
                        <!--   <div class="fr-footer__brand fr-enlarge-link">
                 <p class="fr-logo" title="république française">
                        république
                        <br>Togolaise
                    </p> -->
                        <!-- {% include theme('svg/RT.svg') %} -->

                        <!-- <a class="fr-footer__brand-link" href="/" title="{{_('Go back to website home - opendata.gouv.tg  - République Française')}}"> -->
                        <!-- {% include theme('svg/logotype.svg') %} -->
                        <!-- <h1>opendata.gouv.tg </h1>
                    </a>
                </div> -->
                        <!-- <div class="fr-footer__content">
                    <p class="fr-footer__content-desc">{{ _("A product of the Direction Interministérielle du Numérique (DINUM).") }}</p>
                    <ul class="fr-footer__content-list">
                        {% for item in nav.gouvfr_network %}
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link"  target="_blank" href="{{ item.url }}">{{ item.label }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div> -->
                        {% endcache %}
                        <div class="fr-col-auto fr-ml-auto self-end">
                            <nav role="navigation" class="fr-translate fr-nav">
                                <div class="fr-nav__item">
                                    <button class="fr-translate__btn fr-btn fr-btn--tertiary"
                                        aria-controls="translate-in-footer" aria-expanded="false"
                                        title="{{ _('Select a Language') }}">
                                        {{g.lang_code|upper}} - {{current_language_name()}}
                                    </button>
                                    <div class="fr-collapse fr-translate__menu fr-menu" id="translate-in-footer">
                                        <ul class="fr-menu__list">
                                            {% for code, name in config['LANGUAGES'].items() %}
                                            <li>
                                                <a class="fr-translate__language fr-nav__link" hreflang="{{code}}"
                                                    lang="{{code}}" href="{{language_url(code)}}" {% if
                                                    g.lang_code==code %}aria-current="true" {% endif %}>
                                                    {{code|upper}} - {{name}}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    {% cache cache_duration, 'footer-bottom', g.lang_code|default(config.DEFAULT_LANGUAGE)|string %}
                    <!-- <div class="fr-footer__bottom">
                        <ul class="fr-footer__bottom-list">
                            {% for item in nav.gouvfr_footer %}
                            <li class="fr-footer__bottom-item">
                                <a href="{{ '' if item.items else item.url }}" class="fr-footer__bottom-link">
                                    {{ item.label }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="fr-footer__bottom-copy">
                            <p>{{ _("Unless otherwise stated, all content of this site is availabe under <a
                                    href='{lo_url}'>Open Licence 2.0</a>").format(
                                lo_url='https://github.com/etalab/licence-ouverte/blob/master/LO.md#licence-ouverte-20open-licence-20'
                                ) }}</p>
                        </div>
                    </div> -->
                    {% endcache %}


                </div>
            </div>

        </div>
        <div class="fr-container">
            <p class="text-xs text-gray-600 font-normal mt-3">C.R.N.M - Copyright © 2024 – Agence Togo
                Digital</p>
            <!-- <div class="fr-footer__brand fr-enlarge-link">
            
                    {% include theme('svg/logo-atd.svg') %}
 
                    <a class="fr-footer__brand-link" href="/" title="{{_('Go back to website home - opendata.gouv.tg  - République Française')}}">
                   {% include theme('svg/logotype.svg') %}
                </a>
            </div>  -->
        </div>

        <!-- <div> 
            <span class="text-gray-500 text-[8px] ml-1">Propulsé par</span>
            <img src=" 'img/logo-atd.png' "  class="w-[100px]" alt="Logo ATD"></div> 

        </div> -->
</footer>